/* BANNER */

.slick-banner .slick-prev, .slick-banner .slick-next{
    z-index: 1;
    width: unset;
    height: unset;
}

.slick-banner .slick-prev{
    left: 25px;
}

.slick-banner .slick-next{
    right: 25px;
}

.slick-banner .slick-prev::before, .slick-banner .slick-next::before{
    font-size: 30px;
    transition: 0.3s;
}

.slick-banner .slick-slide{
    height: 527.97px; /* CHANGE BANNER HEIGHT HERE */
}

.slick-banner .slick-slide img:not(.slick-thumb){
    width: 100%;
    height: 100%;
    object-fit: cover
}

.slick-banner .slick-slide:not(a){
    background-color: white;
    background-image: var(--background);
    background-size: cover;
    background-position: center;
}

.slick-banner .slick-slide:not(a) > div{
    max-width:  980px;
    padding: 15px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
}

.slick-banner .slick-slide:not(a) > div > .grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.slick-banner .slick-slide:not(a) div h2{
    margin-top: 0;
    font-size: 30px;
    color: white;
}

.slick-banner .slick-slide:not(a) div p{
    margin-top: 0;
    font-size: 18px;
    color: white;
}

.slick-banner .slick-slide:not(a) div a{
    display: inline-flex;
    background-color: #2172b3;
    color: white;
    padding: 10px 20px;
    transition: 0.3s;
}

.slick-banner .slick-slide:not(a) div a:hover{
    background-color: #1c629b;
}

.slick-banner .slick-slide:not(a) div img.slick-thumb{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.slick-banner .slick-slide.slick-current:not(a) div > *{
    animation-name: fadeText;
    animation-delay: 0.25s;
    animation-duration: 0.75s;
    animation-timing-function: cubic-bezier(.19,.66,.56,1);
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeText {
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.slick-banner.slick-dotted{
    margin-bottom: 0;
}

.slick-banner.slick-dotted .slick-dots{
    bottom: 0;
    padding: 15px 0;
}

.slick-banner.slick-dotted .slick-dots li button:before,.slick-banner.slick-dotted .slick-dots li.slick-active button:before{
    font-size: 18px;
    color: white;
}

@media only screen and (max-width:765px) {

    .slick-banner .slick-slide {
        height: 200px;
    }

    .slick-banner .slick-slide img {
        object-fit: cover;
    }

}